.table {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0.3em;
}

.tile {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-style: solid;
}

.tile:hover {
    -fx-opacity: 0.5;
}

/*.selected {
    -fx-background-color: blue;
}

.selectable {
    -fx-background-color: green;
}*/
