.table {
    -fx-border-color: black;
    -fx-border-style: solid;
    -fx-border-width: 0.3em;
}

.tile {
    -fx-border-color: black;
    -fx-border-style: solid;
}

.tile:hover {
    -fx-opacity: 0.5;
}

.name {
    -fx-font-color: lightgray;
    -fx-font-style: italic;
}
